/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

/*#page {
    min-height: 100%;
    position: relative;
}

#main {
    padding-bottom: 45px;
}*/



body {
    background: #fffdea;
    /*color: white;*/
    font-family: palatino;
}
/*
a {
    color: #F2DFA7;
}*/

/*h1 {
    font-family: palatino;
}*/

/*.page__title {
    border: 5px solid red opacity: 0.8;
    padding: 5px;





/*
.submitted time {
    color: red !important;
}*/

/*.submitted {
    visibility: collapse;
}
.submitted time {
    visibility: visible;
}*/

.banner {
    text-align: center;

}
.header__name-and-slogan {
    color: red;
    text-align: center;
    padding-left: 20px;
    padding-top: 25px;


}
.header__logo {
    width: 15%;
    height: 15%
}

a.feed-icon {
    display: none;
}

.result {
    color: red;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}
